.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    background:#1565c0;

    color:white;

}

.navbar ul{

    display:flex;

    list-style:none;

    gap:25px;

}

.navbar a{

    color:white;

    text-decoration:none;

    font-weight:bold;

}

.navbar a:hover{

    color:yellow;

}